<!DOCTYPE html>
<htmlxmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>従業員情報</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script>
  	function back() {
		location.href = "/top";
	  }
  </script>
</head>
<body>
	<h1>送信用フォーム</h1>
	<form action="#" th:action="@{/employee}" th:object="${employee}" method="post">
		<p>氏名: <input type="text" th:field="*{name}" /></p>
		<p>入社日: <input type="date" th:field="*{entrancedate}" /></p>
		<p><input type="submit" value="登録" />
	</form>
	<input type="button" value="戻る" onclick="back()" />
</body>
</html>